.navbar{
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
}

.navbar-brand{
    margin-right: 50px;
}

.navbar-nav li{
    height: 70px;
    line-height: 70px;
}

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.active{
    color: black;
    background:#D8A66E;
}
