
.tips{
   width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding-left: 150px;
    color: gray;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
.fixed-top{
    top: 30px;
}

.navbar{
    padding-left: 150px;
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.nav-item{
    width: 150px;
    text-align: center;
}

.nav_left{
    width: 180px;
    position: absolute;
    top: 150px;
    left: 150px;
    list-style: none;
    padding: 0;
}
.nav_left a{
    color: black;
}
.nav_left a:hover{
    text-decoration: none;
}
.nav_left .title{
    background-color: #004083;
    color: white;
}

.nav_left>div{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border-bottom: 1px solid #fff;
}

.content{
    width: 80%;
    padding-left: 380px;
    margin-top: 130px;
    line-height: 30px;
}

.content .title{
    font-weight: 600;
    line-height: 50px;
}

.content .item .question{
    line-height: 30px;
    background-color: #eee;
    padding: 15px 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.content .item .answer{
    line-height: 30px;
    color: #ff6600;
    padding: 0 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.content img{
    width: 100%;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
}

.navbar-brand{
    margin-right: 50px;
}

.navbar-nav li{
    height: 70px;
    line-height: 70px;
}

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.active{
    color: black;
    background:#D8A66E;
}

.copyright{
    padding: 20px 0;
    background-color: #353D42;
    line-height: 30px;
    width: 100%;
    color: #ccc;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {

    .navbar{
        padding-left: 15px;
    }

    .nav_left{
        position: relative;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .content{
        padding: 0px 10px 0;
        margin:  120px auto 0;
    }
    .nav-item {
        width: 100%;
    }
    .navbar{
        height: auto;
    }

    .navbar-brand{
        margin-right: auto;
    }

    .navbar-nav li{
        height: auto;
    }

    .nav-link {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }

    .active{
        color: black;
        background:#D8A66E;
    }
}
